@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rock+Salt&display=swap');

.home-title {
    font-family: 'Rock Salt', 'Sans Serif';
    font-size: 2em;
    color: #023047;
    margin-top: 10px;
}

body {
    max-width: 1600px;
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #023047;
}

#content {
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #8ECAE6;
    background-color: #023047;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    color: #023047;
    background-color: #8ECAE6;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    color: #FFF;
}

h4 {
    color: #023047;
}

.book, .join {
    color: #023047;
    background-color: #8ECAE6;
    text-decoration: none;
    font-family: 'Rock Salt', 'Sans Serif';
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 10px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    color: #8ECAE6;
    background-color: #023047;
}

.msg h2 {
    color: #023047;
    font-family: 'Rock Salt', 'Sans Serif';
    font-size: 2em;
    line-height: 1.5em;
    padding: 35px;
}

.msg p {
    color: #023047;
    font-family: 'Open Sans', 'Sans Serif';
    font-size: .8em;
    line-height: 1.5em;
    padding-bottom: 15px;
    padding: 35px;
}

footer {
    color: #023047;
    padding: 25px 50px;
}

footer a {
    color: #023047;
    background-color: #8ECAE6;
    text-decoration: none;
    margin-top: 200px
}

footer a:hover {
    color: #8ECAE6;
    background-color: #023047;
}

footer .social img {
    padding-top: 15px;
}

.logo {
    max-width: 80px
}

footer p {
    font-size: 1.23em;
}

footer p:hover {
    text-decoration: underline;
}

#logo-link {
    padding-top: 5px;
}

.icon {
    padding-top: 10px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #023047;
}

main section img {
    box-sizing: border-box;
}